.button{
  background-color: rgb(200, 35, 35);
  color: white;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 10px;
  vertical-align: top;
  transition: opacity 0.15s;
}

/*this is a pseudo class*/
.button:hover{
  opacity: 0.8;
}

.button:active{
  opacity: 0.7;

}

.button1{
  color: rgb(47, 178, 230);
  background-color: white;
  border-color: rgb(42, 153, 212);
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  margin-right:10px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 16px; 
   vertical-align: top;
  cursor: pointer;
  transition: background-color 0.15s, color 0.15s;
}

.button1:hover{
  background-color: rgb(42, 153, 212);
  color: white;
}

.button1:active{
  opacity: 0.8;
}
  
.button2{
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  background-color: rgb(24, 172, 230);
  border-color: rgb(24, 172, 230);
  border-style: solid;
  border-radius: 50px;
  cursor: pointer;
  transition: box-shadow ;
  vertical-align: top;
}

.button2:hover{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  /* Horizontal, Vertical, Blur, 
  Color (A) in rgb(a) is the opacity) */
}


